@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --color-primary: #007bff;
  --primary-dark: #0056b3;
  --back-white: #f6f7f9;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white !important;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.25s ease;
}
