:root {
  --color-primary: #007BFF;
  --primary-dark: #0056b3;
  --back-white: #F6F7F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back-white) !important;
}